<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article Page</title>
  </head>
  <body>
    <h1><%= @article[:title] %></h1>
    <p><%= @article[:content] %></p>
    <br>

    <!--
    <form action="/articles">
      <input type="submit" value="Articles">
    </form>

    <form method="POST" action="/articles/<%= @article.id %>">
      <input type="hidden" id="hidden" name="_method" value="patch">
      <label for="title">Article Title: </label>
      <input type="text" name="title" id="title" value="<%= @article.title %>">
      <label for="content">Content: </label>
      <input type="text" name="content" id="content" value="<%= @article.content %>">
      <input type="submit" value="Edit">
    </form>
    -->

    <form method="POST" action="/articles/<%= @article.id %>/delete">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
